
@font-face {
    font-family: 'walkaway';
    src:  url('../../fonts/walkway/Walkway\ Black.ttf') format('woff2'),
          url('./fonts/walkway/Walkway\ Bold.ttf') format('woff');
  }

body h1 {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 8;
  font-size: 25px;
  font-weight: 900;
  font-family: "walkaway";
  text-transform: uppercase;
  color: rgb(199, 199, 199);

}

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow .slider {
  width: 100vw;
  height: 100vw;
  z-index: 2;
}

.slideshow .slider * {
  outline: none;
}

.slideshow .slider .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
  background-color: white;

}

.slideshow .slider .item .text {
  display: none;
}

.slideshow .slider .item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: scale-down;
}

.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}

.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}

.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}

.slideshow .slick-dots li button:before {
  content: "";
  background: black;
  color: black;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(10%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}

.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}

.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}

.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}




/*MENU DESPLEGABLE*/

body h1 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 15px;
}
body input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: black;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
  background: white;
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
  background: white;
}

body input ~ nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: auto;
}

body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  text-decoration: none;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  text-decoration: none;
  list-style: none;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  text-decoration: none;
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
  background: black;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;  
  text-decoration: none;
}

hr {
  height: 0.5px;
  background-color: white;
  transition-delay: 0.5s;
}

nav {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* PANTALLA CELULAR */

@media only screen and (max-device-width: 750px) {
 

  body {
    background: white;
  }
  body h1 {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    font-size: 30px;
    font-weight: 900;
    font-family: "walkaway";
    text-transform: uppercase;
    color: white;
  }



  body h1 > span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;

  }
  body input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;

  }
  body input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: white;
    transition: 0.5s;
  }
  body input + label span:first-child {
    top: 3px;
  }
  body input + label span:last-child {
    top: 16px;
  }
  body label:hover {
    cursor: pointer;
  }
  body input:checked + label span {
    opacity: 0;
    top: 40%;
  }
  body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  body input ~ nav {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
  }
  body input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
  }
  body input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
  }
  body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 40px;
    font-size: 2em;
  }
  body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
  }
  body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }

  hr {
    height: 8px;
    background-color: white;
    transition-delay: 0.5s;
  }

  .slideshow .slider .item img {
    min-width: 101%;
    min-height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
} 


/* ORIENTACION HORIZONTAL PARA CELULAR */


