@font-face {
  font-family: "walkaway";
  src: url("../../fonts/walkway/Walkway\ UltraCondensed.ttf") format("woff2");
}

@font-face {
  font-family: "walkawayH1";
  src: url("../../fonts/walkway/Walkway\ Black.ttf") format("woff2"),
    url("./fonts/walkway/Walkway\ Bold.ttf") format("woff");
}

body h1 {
  position: fixed;
  top: 10px;
  left: 40px;
  z-index: 8;
  font-size: 20px;
  font-weight: 900;
  font-family: "walkawayH1";
  text-transform: uppercase;
  color: black;
}

#burger {
  display: none;
}

body h1 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 10px;
}

body input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: black;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
  background: white;
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
  background: white;
}

body input ~ nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: auto;
 
}
body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  text-decoration: none;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  text-decoration: none;
  list-style: none;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  text-decoration: none;
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
  background: black;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;  
  text-decoration: none;
}

hr {
  height: 0.5px;
  background-color: white;
  transition-delay: 0.5s;
}



.slider {
  display: flex;
  width: 100%;
  height: 80vh;
  scroll-snap-type: x mandatory;
  overflow-x: visible;
  overflow-y: hidden;
  position: absolute;
  top: 10em;
  bottom: 1vh;
}

.slider img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
  width: 100%;
}




/* PANTALLA CELULAR */

@media only screen and (max-device-width: 750px) {
  .slider {
    display: 0 0 100%;
    height: 80vh;
    position: absolute;
    top: 7vh;
    overflow-x: auto;
    /*scroll-snap-type: x proximity;*/
  }

  .slider img {
    object-fit: cover;
    width: auto;
  }

  .accesosMenu li ul {
    display: none;
    z-index: 1;
  }

  .menuResponsive {
    display:contents;
  }

  nav {
    display: contents;
  }

  body {
    background: white;
  }
  body h1 {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    font-size: 30px;
    font-weight: 900;
    font-family: "walkaway";
    text-transform: uppercase;
    color: white;
  }

  h1 span {
    font-size: 45px;
  }

  body h1 > span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;

  }
  body input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;

  }
  body input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: white;
    transition: 0.5s;
  }
  body input + label span:first-child {
    top: 3px;
  }
  body input + label span:last-child {
    top: 16px;
  }
  body label:hover {
    cursor: pointer;
  }
  body input:checked + label span {
    opacity: 0;
    top: 40%;
  }
  body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  body input ~ nav {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
  }
  body input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
  }
  body input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
  }
  body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 40px;
    font-size: 2em;
  }
  body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
  }
  body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }

  hr {
    height: 8px;
    background-color: white;
    transition-delay: 0.5s;
  }
} 

/* ORIENTACION HORIZONTAL PARA CELULAR */

@media (orientation: landscape) {
  .slider {
    height: 90vh;
    position: relative;
    top: 8vh;
    scroll-snap-type: x proximity;
  }
  .slider img {
    object-fit: contain;
  }

  .accesosMenu li {
    position: relative;
    float: right;
    right: 5vh;
    top: 2vh;
  }
  .accesosMenu li ul {
    display: inline;
    list-style: none;
  }
}
